html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
}

:global #App {
    display: flex;
    height: 100%;
}

@media (orientation: portrait) {
    :global #App {
        flex-direction: column;
    }
}

.flippingPagesContainer {
    flex-grow: 1;
    flex-basis: 0;
    box-sizing: border-box;
    min-width: 50%;
    min-height: 50%;
    padding: 8px;
    overflow: hidden;
}

.flippingPages {
    height: 100%;
    width: 100%;
}

.page {
    background-position: center;
    height: 100%;
}

.config {
    padding: 8px;
    overflow: auto;
}

.config, .config button, .config input {
    font-family: monospace;
}