.container {
    height: 100%;
    width: 100%;
    position: relative;
}

.fullPage,
.prevPage,
.nextPage {
    position: absolute;
}

:is(.fullPage, .prevPage, .nextPage):is(.bottom-to-top, .top-to-bottom) {
    overflow-y: hidden;
}

:is(.fullPage, .prevPage, .nextPage):is(.left-to-right, .right-to-left) {
    overflow-x: hidden;
}

:is(.fullPage, .prevPage, .nextPage) > * {
    position: absolute;
}

.fullPage {
    inset: 0;
}

.fullPage > * {
    inset: 0;
}

.prevPage.bottom-to-top,
.nextPage.top-to-bottom {
    top: 0;
    right: 0;
    left: 0;
    height: 50%;
    transform-origin: bottom;
}

:is(.prevPage.bottom-to-top, .nextPage.top-to-bottom) > :first-child {
    top: 0;
    right: 0;
    left: 0;
    height: 200%;
}

.prevPage.top-to-bottom,
.nextPage.bottom-to-top {
    right: 0;
    bottom: 0;
    left: 0;
    height: 50%;
    transform-origin: top;
}

:is(.prevPage.top-to-bottom, .nextPage.bottom-to-top) > :first-child {
    right: 0;
    bottom: 0;
    left: 0;
    height: 200%;
}

.prevPage.left-to-right,
.nextPage.right-to-left {
    top: 0;
    right: 0;
    bottom: 0;
    width: 50%;
    transform-origin: left;
}

:is(.prevPage.left-to-right, .nextPage.right-to-left) > :first-child {
    top: 0;
    right: 0;
    bottom: 0;
    width: 200%;
}

.prevPage.right-to-left,
.nextPage.left-to-right {
    top: 0;
    bottom: 0;
    left: 0;
    width: 50%;
    transform-origin: right;
}

:is(.prevPage.right-to-left, .nextPage.left-to-right) > :first-child {
    top: 0;
    bottom: 0;
    left: 0;
    width: 200%;
}

.shadow {
    inset: 0;
}
