.container {
    height: 100%;
    width: 100%;
    position: relative;
}

.prevPage,
.nextPage {
    position: absolute;
}

:is(.prevPage, .nextPage) > * {
    position: absolute;
}

.prevPage.bottom-to-top,
.nextPage.top-to-bottom {
    top: 0;
    right: 0;
    left: 0;
    height: 50%;
    overflow-y: hidden;
    transform-origin: bottom;
}

:is(.prevPage.bottom-to-top, .nextPage.top-to-bottom) > * {
    top: 0;
    right: 0;
    left: 0;
    height: 200%;
}

.prevPage.top-to-bottom,
.nextPage.bottom-to-top {
    right: 0;
    bottom: 0;
    left: 0;
    height: 50%;
    overflow-y: hidden;
    transform-origin: top;
}

:is(.prevPage.top-to-bottom, .nextPage.bottom-to-top) > * {
    right: 0;
    bottom: 0;
    left: 0;
    height: 200%;
}

.prevPage.left-to-right,
.nextPage.right-to-left {
    top: 0;
    right: 0;
    bottom: 0;
    width: 50%;
    overflow-x: hidden;
    transform-origin: left;
}

:is(.prevPage.left-to-right, .nextPage.right-to-left) > * {
    top: 0;
    right: 0;
    bottom: 0;
    width: 200%;
}

.prevPage.right-to-left,
.nextPage.left-to-right {
    top: 0;
    bottom: 0;
    left: 0;
    width: 50%;
    overflow-x: hidden;
    transform-origin: right;
}

:is(.prevPage.right-to-left, .nextPage.left-to-right) > * {
    top: 0;
    bottom: 0;
    left: 0;
    width: 200%;
}
