html
    height: 100%

body
    height: 100%
    margin: 0
    overflow: hidden

\:global #App
    display: flex
    box-sizing: border-box
    height: 100%
    padding: 8px

    @media (orientation: portrait)
        flex-direction: column

.flippingPagesContainer
    flex-grow: 1
    flex-basis: 0
    min-width: 50%
    min-height: 50%
    position: relative

.flippingPages
    height: 100%
    width: 100%
    user-select: none

.navigation
    position: absolute
    right: 0
    bottom: 0
    left: 0

.page
    display: flex
    align-items: center
    justify-content: center
    color: white
    font-size: 64px
    height: 100%

.page.red
    background: #f44336

.page.green
    background: #4caf50

.page.blue
    background: #2196f3

.page.orange
    background: #ff9800

.config
    font-family: monospace, monospace
    overflow: auto

    @media (orientation: portrait)
        padding-top: 8px

    @media (orientation: landscape)
        padding-left: 8px

    input
        font-family: inherit